/* TEMPLATE STYLES */

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background-color: #FFF;
}

/* Selection color */
::-moz-selection {
    background: rgba(255,255,255,0.7);
    color: #008080;
}
::selection {
    background: rgba(255,255,255,0.7);
    color: #008080;
}

main {
    margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

.navbar-brand {
    font-family: Baumans;
}

/* Font colors list */
.font-teal {
    color: teal;
}
.font-lightteal {
    color: #00A0A0;
}
.font-pink {
    color: #FF69B4;
}
.font-white {
    color: #fff;
}
.font-aaa {
    color: #aaa;
}
.bold {
    font-weight: bold;
}

/* body / teal gradient */
body {
    background-color: #111;
    color: teal;
    font-family: Trebuchet MS;
}
.img-gradient {
    background: linear-gradient(#008080, #111 400px) no-repeat;
    background-color: #111;
}

/* anime-style */
.anime-title {
    font-weight: bold;
    font-size: 30px;
    font-family: Baumans;
}
.anime-genres {
    padding-top: 10px;
    white-space: nowrap;
}
.anime-genre {
    display: inline;
}
.anime-genre-link {
    margin: 0 2px 0 2px;
    padding: 4px 8px 4px 8px;
    border: #aaa 1px solid;
    font-size: 12px;
    text-transform: uppercase;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.anime-genre-link:visited {
    color: #aaa;
}
.anime-genre-link:hover {
    border-color: #fff;
    color: #fff;
}

.anime-synopsis {
    margin-top: 5%;
    height: 180px;
    overflow-x: auto;
}
.anime-infos {
    text-transform: uppercase;
    font-size: 12px;
}
.anime-infos-right {
    float: right;
    font-weight: bold;
}
.anime-content {
    padding-top: 50px;
}
.anime-grid {
    text-align: center;
    padding-bottom: 2%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.anime-list {
    background-size: cover;
    width: 100%;
    height: 297px;
    display: inline-block;
}

/* unselectable option */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* episode-style */
.episode-grid {
    padding-bottom: 0px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.episode-list {
    background-size: cover;
    width: 100%;
    height: 140px;
    display: inline-block;
}
.episode-list-2 {
    background-size: cover;
    width: 100%;
    height: 120px;
    display: inline-block;
}
.episode-name {
    text-align: left;
    width : 100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #00A0A0;
    font-size: 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.episode-name:hover {
    color: #fff;
}
.episode-number {
    font-size: 11px;
    color: #aaa;
    font-weight: bold;
    padding-top: 3px;
}
.play-button {
    font-size: 50px;
    color: #fff;
    position: relative;
    top: calc(50% - 25px);
    left: calc(50% - 20px);
}

/* custom pagination */
.custom-pagination {
    margin-bottom: 50px;
    color: #aaa;
}
.custom-pagination ul {
    display: table-row;
    text-align: center;
    font-size: 20px;
    height: 50px;

}
.custom-pagination li {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: default;
}
.custom-pagination a {
    color: #00A0A0;
    font-weight: bold;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.custom-pagination a:hover {
    color: #fff;
}

/* episode pages */
.video-block {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-bottom-buttons {
    background-color: transparent;
    color: #aaa;
    line-height: 50px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}
.video-bottom-buttons:hover {
    box-shadow: 0px 10px 10px -10px #000;
    color: #fff;
}
.arrows {
    font-size: 30px;
}

/* all maj */
.uppercase {
    text-transform: uppercase;
}

/* too long text */
.overflow-hidden {
    text-align: left;
    width : 70%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* genre list */
a .genre-link {
    color: #00A0A0;
    font-size: 16px;
    border-right: 10px solid #aaa;
    margin-bottom: 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a .genre-link:hover {
    color: #fff;
    border-color: #00A0A0;
}

/* user */
.square {
    width: 100%;
    border: 1px solid #fff;
    padding-bottom: 100%;
    background-size: cover;
}
.square:after {
    content: "";
    display: block;
}
.anime-list-user {
    background-size: cover;
    width: 100%;
    padding-bottom: 150%;
    display: inline-block;
}