/* style.css */
/* http://mdbootstrap.com/ */
.top-nav-collapse {
    background-color: #3F729B !important;
}
/*Remember to set navbar color for mobile devices*/
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3F729B !important;
    }
}
.body {
    background-color: #222;
    color: #DDD;
}
main {
    margin-top: 50px;
}
.logo {
    width: 150px;
    margin-top: -25px;
}