/* YOUR CUSTOM STYLES */

html,
body,
.view {
    height: 100%;
    background-color: #212121;
}

/*Intro*/

.view {
    background: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-199701.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}
.fff {
    color: #fff;
}
.bordure {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}
.lecentre {
    position: absolute;
    height: 30rem;
    width: 50rem;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}